body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to top, #ccccd6, #a7a8bd); 
    font-family: "Poppins", sans-serif;
}

#greeting-bar {
    background: linear-gradient(to right, #eea2a4, #94bbe9); 
    color: white;
    font-family: "Fantasy";
    padding: 50px;
    font-size: 48px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    height: calc(100% - 100px);
    flex-grow: border-box; 
}

.button-card {
    background-color: #e0c8d1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.button-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
.button-card i {
    font-size: 5rem;
    color: #2775b6
}
.button-card span {
    font-size: 24px;
    color: #61649f;

}
.tooltip {
    visibility: hidden;
    width: auto;
    background-color: #8076a3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the button */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.button-card:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.icon {
    display: block;
    font-size: 300px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .button-grid {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(4, 1fr); 
    }
}
