html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Arial';
    color: #4282d7;
    text-align: center;
}

h2 {
    margin: 20px 0;
}

.container {
    width: 350px;
    margin: 30px auto;
}

h1 {
    letter-spacing: 1px;
}

.inc-exp-container {
    display: flex;
    justify-content: space-between;
    margin: 20 px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.inc-exp-container>div {
    flex: 1;
    text-align: center;
}

.inc-exp-container>div:first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money-ld {
    color: #2ecc71;
}

.money-rd {
    color: #2ecc71;
}

h3 {
    margin: 40px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px #bbb solid;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input {
    border: 1px #dedede solid;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

.btn {
    width: 100%;
    background-color: #9c88ff;
    border: 0;
    padding: 10px;
    margin: 10px 0 30px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 9.24);
}
list {
    list-style: none; margin-bottom: 40px;
}

.list 11 {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), • 1px 2px reba(0, 0, 0, 0.24); color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

list li.plus {
    border-right:5px solid #2ecc71;
}

.list li.minus {
    border-right:5px solid #c0392b；
}
#delete-btn {
    cursor: pointer;
    background-color : #e74c3c;
    border: 0;
    color ： #fff;
    font-size: 20px; line-height: 20px; padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%) ;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover #delete-btn {
    opacity: 1;
}